# L'URL de connexion est requise car supprimée du code source
DB__URL=postgresql+psycopg://postgres:postgres_local_secret@localhost:5432/factory_writer

# Ces variables peuvent être surchargées si besoin, sinon elles prendront le fallback de config.py
# Configuration POC: Temporal Cloud (Authentification par API Key)
# GCP_PROJECT_ID=votre-projet-gcp
TEMPORAL__ADDRESS=factory-writer-poc.waxwe.tmprl.cloud:7233
TEMPORAL__NAMESPACE=factory-writer-poc.waxwe
TEMPORAL__API_KEY=votre_cle_api_temporelle_ici
