# L'URL de connexion est requise car supprimée du code source
DATABASE_URL=postgresql+psycopg://postgres:postgres_local_secret@localhost:5432/factory_writer

# Ces variables peuvent être surchargées si besoin, sinon elles prendront le fallback de config.py
# GCP_PROJECT_ID=factory-writer-poc-1776097019
# TEMPORAL_HOST=localhost:7233
